Schemas/XML/TrainingCenterDatabasev2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2"
    xmlns:tc2="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2"
    xmlns:ax="http://www.garmin.com/xmlschemas/ActivityExtension/v2"
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>This schema defines the Garmin Training Center file format.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="TrainingCenterDatabase" type="TrainingCenterDatabase">
		<xsd:keyref name="ActivityIdKeyRef" refer="tc2:ActivityIdMustBeUnique">
			<xsd:selector xpath=".//tc2:ActivityRef"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:keyref>
		<xsd:key name="ActivityIdMustBeUnique">
			<xsd:selector xpath=".//tc2:Activities/tc2:Activity"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:key>
		<xsd:keyref name="MultisportActivityIdKeyRef" refer="tc2:MultisportActivityIdMustBeUnique">
			<xsd:selector xpath=".//tc2:MultisportActivityRef"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:keyref>
		<xsd:key name="MultisportActivityIdMustBeUnique">
			<xsd:selector xpath=".//tc2:Activities/tc2:MultiSportSession"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:key>
		<xsd:keyref name="WorkoutNameKeyRef" refer="tc2:WorkoutNameMustBeUnique">
			<xsd:selector xpath=".//tc2:WorkoutNameRef"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:keyref>
		<xsd:key name="WorkoutNameMustBeUnique">
			<xsd:selector xpath=".//tc2:Workouts/tc2:Workout"/>
			<xsd:field xpath="tc2:Name"/>
		</xsd:key>
		<xsd:keyref name="CourseNameKeyRef" refer="tc2:CourseNameMustBeUnique">
			<xsd:selector xpath=".//tc2:CourseNameRef"/>
			<xsd:field xpath="tc2:Id"/>
		</xsd:keyref>
		<xsd:key name="CourseNameMustBeUnique">
			<xsd:selector xpath=".//tc2:Courses/tc2:Course"/>
			<xsd:field xpath="tc2:Name"/>
		</xsd:key>
	</xsd:element>
	<xsd:complexType name="TrainingCenterDatabase">
		<xsd:sequence>
			<xsd:element name="Folders" type="Folders" minOccurs="0"/>
			<xsd:element name="Activities" type="ActivityList" minOccurs="0"/>
			<xsd:element name="Workouts" type="WorkoutList" minOccurs="0"/>
			<xsd:element name="Courses" type="CourseList" minOccurs="0"/>
			<xsd:element name="Author" type="AbstractSource" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Folders">
		<xsd:sequence>
			<xsd:element name="History" type="History" minOccurs="0"/>
			<xsd:element name="Workouts" type="Workouts" minOccurs="0"/>
			<xsd:element name="Courses" type="Courses" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityList">
		<xsd:sequence>
			<xsd:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultiSportSession" type="MultiSportSession" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WorkoutList">
		<xsd:sequence>
			<xsd:element name="Workout" type="Workout" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
          The StepId should be unique within a workout and should not
          exceed 20. This restricts the number of steps in a workout to 20.
          </xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="StepIdMustBeUnique">
					<xsd:selector xpath=".//*"/>
					<xsd:field xpath="tc2:StepId"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseList">
		<xsd:sequence>
			<xsd:element name="Course" type="Course" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="History">
		<xsd:sequence>
			<xsd:element name="Running" type="HistoryFolder"/>
			<xsd:element name="Biking" type="HistoryFolder"/>
			<xsd:element name="Other" type="HistoryFolder"/>
			<xsd:element name="MultiSport" type="MultiSportFolder"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityReference">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HistoryFolder">
		<xsd:sequence>
			<xsd:element name="Folder" type="HistoryFolder" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ActivityRef" type="ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Week" type="Week" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="MultiSportFolder">
		<xsd:sequence>
			<xsd:element name="Folder" type="MultiSportFolder" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultisportActivityRef" type="ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Week" type="Week" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Week">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
        The week is written out only if the notes are present.
        </xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="StartDay" type="xsd:date" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="MultiSportSession">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:dateTime"/>
			<xsd:element name="FirstSport" type="FirstSport"/>
			<xsd:element name="NextSport" type="NextSport" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FirstSport">
		<xsd:sequence>
			<xsd:element name="Activity" type="Activity"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NextSport">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
        Each sport contains an optional transition and a run.
        </xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Transition" type="ActivityLap" minOccurs="0"/>
			<xsd:element name="Activity" type="Activity"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Sport">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Running"/>
			<xsd:enumeration value="Biking"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Activity">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:dateTime"/>
			<xsd:element name="Lap" type="ActivityLap" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Training" type="Training" minOccurs="0"/>
			<xsd:element name="Creator" type="AbstractSource" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Sport" type="Sport" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="AbstractSource" abstract="true">
		<xsd:sequence>
			<xsd:element name="Name" type="Token"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Device">
		<xsd:annotation>
			<xsd:documentation>Identifies the originating GPS device that tracked a run or
                               used to identify the type of device capable of handling
                               the data for loading.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractSource">
				<xsd:sequence>
					<xsd:element name="UnitId" type="xsd:unsignedInt"/>
					<xsd:element name="ProductID" type="xsd:unsignedShort"/>
					<xsd:element name="Version" type="Version"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Application">
		<xsd:annotation>
			<xsd:documentation>Identifies a PC software application.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractSource">
				<xsd:sequence>
					<xsd:element name="Build" type="Build"/>
					<xsd:element name="LangID" type="LangID"/>
					<xsd:element name="PartNumber" type="PartNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LangID">
		<xsd:annotation>
			<xsd:documentation>Specifies the two character ISO 693-1 language id that identifies the installed language of this application.
			                                  see http://www.loc.gov/standards/iso639-2/ for appropriate ISO identifiers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Token">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartNumber">
		<xsd:annotation>
			<xsd:documentation>The formatted XXX-XXXXX-XX Garmin part number of a PC application.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Token">
			<xsd:pattern value="[\p{Lu}\d]{3}-[\p{Lu}\d]{5}-[\p{Lu}\d]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Token">
		<xsd:annotation>
			<xsd:documentation>Token must be defined as a type because of a bug in the MSXML parser which
    does not correctly process xsd:token using the whiteSpace value of "collapse"
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Build">
		<xsd:sequence>
			<xsd:element name="Version" type="Version"/>
			<xsd:element name="Type" type="BuildType" minOccurs="0"/>
			<xsd:element name="Time" type="Token" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
        A string containing the date and time when an application was built.
        Note that this is not an xsd:dateTime type because this string is
        generated by the compiler and cannot be readily converted to the
        xsd:dateTime format.
        </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Builder" type="Token" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
        The login name of the engineer who created this build.
        </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BuildType">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Internal"/>
			<xsd:enumeration value="Alpha"/>
			<xsd:enumeration value="Beta"/>
			<xsd:enumeration value="Release"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Version">
		<xsd:sequence>
			<xsd:element name="VersionMajor" type="xsd:unsignedShort"/>
			<xsd:element name="VersionMinor" type="xsd:unsignedShort"/>
			<xsd:element name="BuildMajor" type="xsd:unsignedShort" minOccurs="0"/>
			<xsd:element name="BuildMinor" type="xsd:unsignedShort" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Training">
		<xsd:sequence>
			<xsd:element name="QuickWorkoutResults" type="QuickWorkout" minOccurs="0"/>
			<xsd:element name="Plan" type="Plan" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="VirtualPartner" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="QuickWorkout">
		<xsd:sequence>
			<xsd:element name="TotalTimeSeconds" type="xsd:double"/>
			<xsd:element name="DistanceMeters" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Plan">
		<xsd:sequence>
			<xsd:element name="Name" type="RestrictedToken" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Type" type="TrainingType" use="required"/>
		<xsd:attribute name="IntervalWorkout" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="TrainingType">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Workout"/>
			<xsd:enumeration value="Course"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ActivityLap">
		<xsd:sequence>
			<xsd:element name="TotalTimeSeconds" type="xsd:double"/>
			<xsd:element name="DistanceMeters" type="xsd:double"/>
			<xsd:element name="MaximumSpeed" type="xsd:double" minOccurs="0"/>
			<xsd:element name="Calories" type="xsd:unsignedShort"/>
			<xsd:element name="AverageHeartRateBpm" type="HeartRateInBeatsPerMinute" minOccurs="0"/>
			<xsd:element name="MaximumHeartRateBpm" type="HeartRateInBeatsPerMinute" minOccurs="0"/>
			<xsd:element name="Intensity" type="Intensity"/>
			<xsd:element name="Cadence" type="CadenceValue" minOccurs="0"/>
			<xsd:element name="TriggerMethod" type="TriggerMethod"/>
			<xsd:element name="Track" type="Track" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Extensions" type="ActivityLapExtensions"/>
		</xsd:sequence>
		<xsd:attribute name="StartTime" type="xsd:dateTime" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="CadenceValue">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:maxInclusive value="254"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TriggerMethod">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Manual"/>
			<xsd:enumeration value="Distance"/>
			<xsd:enumeration value="Location"/>
			<xsd:enumeration value="Time"/>
			<xsd:enumeration value="HeartRate"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Track">
		<xsd:sequence>
			<xsd:element name="Trackpoint" type="Trackpoint" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Trackpoint">
		<xsd:sequence>
			<xsd:element name="Time" type="xsd:dateTime"/>
			<xsd:element name="Position" type="Position" minOccurs="0"/>
			<xsd:element name="AltitudeMeters" type="xsd:double" minOccurs="0"/>
			<xsd:element name="DistanceMeters" type="xsd:double" minOccurs="0"/>
			<xsd:element name="HeartRateBpm" type="HeartRateInBeatsPerMinute" minOccurs="0"/>
			<xsd:element name="Cadence" type="CadenceValue" minOccurs="0"/>
			<xsd:element name="SensorState" type="SensorState" minOccurs="0"/>
            <xsd:element name="Extensions" type="ActivityTrackpointExtensions"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Position">
		<xsd:sequence>
			<xsd:element name="LatitudeDegrees" type="DegreesLatitude"/>
			<xsd:element name="LongitudeDegrees" type="DegreesLongitude"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DegreesLongitude">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:maxExclusive value="180.0"/>
			<xsd:minInclusive value="-180.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DegreesLatitude">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="90.0"/>
			<xsd:minInclusive value="-90.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SensorState">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Present"/>
			<xsd:enumeration value="Absent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Workouts">
		<xsd:sequence>
			<xsd:element name="Running" type="WorkoutFolder">
				<xsd:unique name="RunningSubFolderNamesMustBeUnique">
					<xsd:selector xpath="tc2:Folder"/>
					<xsd:field xpath="@Name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="Biking" type="WorkoutFolder">
				<xsd:unique name="BikingSubFolderNamesMustBeUnique">
					<xsd:selector xpath="tc2:Folder"/>
					<xsd:field xpath="@Name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="Other" type="WorkoutFolder">
				<xsd:unique name="OtherSubFolderNamesMustBeUnique">
					<xsd:selector xpath="tc2:Folder"/>
					<xsd:field xpath="@Name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameKeyReference">
		<xsd:sequence>
			<xsd:element name="Id" type="RestrictedToken"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WorkoutFolder">
		<xsd:sequence>
			<xsd:element name="Folder" type="WorkoutFolder" minOccurs="0" maxOccurs="unbounded">
				<xsd:unique name="SubFolderNamesMustBeUnique">
					<xsd:selector xpath="tc2:Folder"/>
					<xsd:field xpath="@Name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="WorkoutNameRef" type="NameKeyReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Workout">
		<xsd:sequence>
			<xsd:element name="Name" type="RestrictedToken"/>
			<xsd:element name="Step" type="AbstractStep" maxOccurs="unbounded"/>
			<xsd:element name="ScheduledOn" type="xsd:date" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Creator" type="AbstractSource" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Sport" type="Sport" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="RestrictedToken">
		<xsd:restriction base="Token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AbstractStep" abstract="true">
		<xsd:sequence>
			<xsd:element name="StepId" type="StepId"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="StepId">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Repeat">
		<xsd:complexContent>
			<xsd:extension base="AbstractStep">
				<xsd:sequence>
					<xsd:element name="Repetitions" type="Repetitions"/>
					<xsd:element name="Child" type="AbstractStep" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Repetitions">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:minInclusive value="2"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Step">
		<xsd:complexContent>
			<xsd:extension base="AbstractStep">
				<xsd:sequence>
					<xsd:element name="Name" type="RestrictedToken" minOccurs="0"/>
					<xsd:element name="Duration" type="Duration"/>
					<xsd:element name="Intensity" type="Intensity"/>
					<xsd:element name="Target" type="Target"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Duration" abstract="true"/>
	<xsd:simpleType name="Intensity">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Resting"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Target" abstract="true"/>
	<xsd:complexType name="Time">
		<xsd:complexContent>
			<xsd:extension base="Duration">
				<xsd:sequence>
					<xsd:element name="Seconds" type="xsd:unsignedShort"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Distance">
		<xsd:complexContent>
			<xsd:extension base="Duration">
				<xsd:sequence>
					<xsd:element name="Meters" type="xsd:unsignedShort"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HeartRateAbove">
		<xsd:complexContent>
			<xsd:extension base="Duration">
				<xsd:sequence>
					<xsd:element name="HeartRate" type="HeartRateValue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HeartRateValue" abstract="true"/>
	<xsd:complexType name="HeartRateBelow">
		<xsd:complexContent>
			<xsd:extension base="Duration">
				<xsd:sequence>
					<xsd:element name="HeartRate" type="HeartRateValue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaloriesBurned">
		<xsd:complexContent>
			<xsd:extension base="Duration">
				<xsd:sequence>
					<xsd:element name="Calories" type="xsd:unsignedShort"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserInitiated">
		<xsd:complexContent>
			<xsd:extension base="Duration"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Speed">
		<xsd:complexContent>
			<xsd:extension base="Target">
				<xsd:sequence>
					<xsd:element name="SpeedZone" type="Zone"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HeartRate">
		<xsd:complexContent>
			<xsd:extension base="Target">
				<xsd:sequence>
					<xsd:element name="HeartRateZone" type="Zone"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Cadence">
		<xsd:complexContent>
			<xsd:extension base="Target">
				<xsd:sequence>
					<xsd:element name="Low" type="xsd:double"/>
					<xsd:element name="High" type="xsd:double"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="None">
		<xsd:complexContent>
			<xsd:extension base="Target"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Zone" abstract="true"/>
	<xsd:complexType name="PredefinedSpeedZone">
		<xsd:complexContent>
			<xsd:extension base="Zone">
				<xsd:sequence>
					<xsd:element name="Number" type="SpeedZoneNumbers"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SpeedZoneNumbers">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CustomSpeedZone">
		<xsd:complexContent>
			<xsd:extension base="Zone">
				<xsd:sequence>
					<xsd:element name="ViewAs" type="SpeedType"/>
					<xsd:element name="LowInMetersPerSecond" type="SpeedInMetersPerSecond"/>
					<xsd:element name="HighInMetersPerSecond" type="SpeedInMetersPerSecond"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SpeedInMetersPerSecond">
		<xsd:restriction base="xsd:double">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SpeedType">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Pace"/>
			<xsd:enumeration value="Speed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PredefinedHeartRateZone">
		<xsd:complexContent>
			<xsd:extension base="Zone">
				<xsd:sequence>
					<xsd:element name="Number" type="HeartRateZoneNumbers"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="HeartRateZoneNumbers">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CustomHeartRateZone">
		<xsd:complexContent>
			<xsd:extension base="Zone">
				<xsd:sequence>
					<xsd:element name="Low" type="HeartRateValue"/>
					<xsd:element name="High" type="HeartRateValue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HeartRateInBeatsPerMinute">
		<xsd:complexContent>
			<xsd:extension base="HeartRateValue">
				<xsd:sequence>
					<xsd:element name="Value" type="positiveByte"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HeartRateAsPercentOfMax">
		<xsd:complexContent>
			<xsd:extension base="HeartRateValue">
				<xsd:sequence>
					<xsd:element name="Value" type="PercentOfMax"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PercentOfMax">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveByte">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Gender">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Male"/>
			<xsd:enumeration value="Female"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Courses">
		<xsd:sequence>
			<xsd:element name="CourseFolder" type="CourseFolder">
				<xsd:unique name="CourseSubFolderNamesMustBeUnique">
					<xsd:selector xpath="tc2:CourseFolder"/>
					<xsd:field xpath="@Name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseFolder">
		<xsd:sequence>
			<xsd:element name="Folder" type="CourseFolder" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CourseNameRef" type="NameKeyReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Course">
		<xsd:sequence>
			<xsd:element name="Name" type="RestrictedToken"/>
			<xsd:element name="Lap" type="CourseLap" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Track" type="Track" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CoursePoint" type="CoursePoint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Creator" type="AbstractSource" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseLap">
		<xsd:sequence>
			<xsd:element name="TotalTimeSeconds" type="xsd:double"/>
			<xsd:element name="DistanceMeters" type="xsd:double"/>
			<xsd:element name="BeginPosition" type="Position" minOccurs="0"/>
			<xsd:element name="BeginAltitudeMeters" type="xsd:double" minOccurs="0"/>
			<xsd:element name="EndPosition" type="Position" minOccurs="0"/>
			<xsd:element name="EndAltitudeMeters" type="xsd:double" minOccurs="0"/>
			<xsd:element name="AverageHeartRateBpm" type="HeartRateInBeatsPerMinute" minOccurs="0"/>
			<xsd:element name="MaximumHeartRateBpm" type="HeartRateInBeatsPerMinute" minOccurs="0"/>
			<xsd:element name="Intensity" type="Intensity"/>
			<xsd:element name="Cadence" type="CadenceValue" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoursePoint">
		<xsd:sequence>
			<xsd:element name="Name" type="CoursePointName"/>
			<xsd:element name="Time" type="xsd:dateTime"/>
			<xsd:element name="Position" type="Position"/>
			<xsd:element name="AltitudeMeters" type="xsd:double" minOccurs="0"/>
			<xsd:element name="PointType" type="CoursePointType"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Extensions" type="Extensions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CoursePointName">
		<xsd:restriction base="Token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoursePointType">
		<xsd:restriction base="Token">
			<xsd:enumeration value="Generic"/>
			<xsd:enumeration value="Summit"/>
			<xsd:enumeration value="Valley"/>
			<xsd:enumeration value="Water"/>
			<xsd:enumeration value="Food"/>
			<xsd:enumeration value="Danger"/>
			<xsd:enumeration value="Left"/>
			<xsd:enumeration value="Right"/>
			<xsd:enumeration value="Straight"/>
			<xsd:enumeration value="First Aid"/>
			<xsd:enumeration value="4th Category"/>
			<xsd:enumeration value="3rd Category"/>
			<xsd:enumeration value="2nd Category"/>
			<xsd:enumeration value="1st Category"/>
			<xsd:enumeration value="Hors Category"/>
			<xsd:enumeration value="Sprint"/>
		</xsd:restriction>
	</xsd:simpleType>

    <!-- Extension types -->
    <xsd:complexType name="Extensions">
		<xsd:sequence>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>You can extend Training Center by adding your own elements from another schema here.</xsd:documentation>
				</xsd:annotation>
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="ActivityLapExtensions">
        <xsd:sequence>
            <xsd:element ref="ax:LX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ActivityTrackpointExtensions">
        <xsd:sequence>
            <xsd:element ref="ax:TPX"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
